# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/
ENV/

# OS Files
.DS_Store

# IDEs
.vscode/
.idea/

# Environment variables
.env.env
